<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <nav>
    <ul>
      <li><a href="/employee/add-employee">Add Employee</a></li>
      <li><a href="/employee/show-employee">Show Employee</a></li>
      <li><a href="department/add-department">Add Department</a></li>
      <li><a href="department/show-department">Show Department</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="home-h">
      <h1>Crud System</h1>
    </div>
    <!-- <div class="home-btn">
      <a href="/employee/add-employee">Add Employee</a>
      <a href="department/add-department">Add Department</a>
    </div>
    <div class="home-btn-2">
      <a href="/employee/show-employee">Show Employee</a>
      <a href="department/show-department">Show Department</a>
    </div> -->
  </div>

<%- include('includes/end.ejs')  %>