<%- include('includes/head.ejs') %>
<style>
  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
</style>
</head>

<body>
  <h1>Page Not Found!</h1>

<%- include('includes/end.ejs')  %>